@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

/*  ------------------- Cores padrão  ------------------- */
:root {
  --colorPrimary: #0072ff;
  --colorSecondary: #00c6ff;
  --colorThird: #00f260;
}

body {
    margin-top: 60px;
    padding: 0;
    font-family: 'Nova Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}